.foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    left: 20px;
}
h2{
    font-weight: bold;
    font-size: 18px;
}
page-event-detail{
    #map {
        width: 100%;
        height: 50%;
      }
}