<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-item>
          <ion-thumbnail item-start>
              <img src="assets/imgs/marty.png">
          </ion-thumbnail>
          <h2 class="usuario">{{user.name}} {{user.lastName}} {{user.lastName2}}</h2>
          <ion-list>
              <button menuClose ion-item *ngFor="let u of userConfig" (click)="openPage(u)">
                {{u.title}}
              </button>
            <button ion-button small color="danger">Cerrar Sesion</button>
          </ion-list>
        </ion-item>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>